#adminForm{
    display: block;
    top: 42%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 5px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 620px;

    /* Set width and height to overflow the page */
    overflow: auto;
    scroll-behavior: auto;
}